.square {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  font-size: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: center;
}

.header {
  display: flex;
  justify-content: center;
}